:root {
     --width-img: 40%;
}

.detail__item > div:nth-child(1) {
     width: var(--width-img);
}
.detail__item > div:nth-child(2) {
     float: right;
     width: calc(100% - var(--width-img));
}

.asd {
     width: calc(var(--container) - var(--width-aside) - 2.5rem);
}

/* pagination  */

.pagination span {
     color: black;
     float: left;
     padding: 8px 16px;
     text-decoration: none;
     cursor: pointer;
}

.pagination span.active {
     background-color: var(--main-color);
     color: white;
     border-radius: 5px;
}

.pagination span:hover:not(.active) {
     background-color: #ddd;
     border-radius: 5px;
}
